##
## Copyright 2017-2021 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
##########################################################################################
## This file is the entry point for RemoteApiGen.
## Called from FreeGen's ControlFreeGen.vm.
##########################################################################################
##########################################################################################
##### Ready for generation.
##########################################################################################
##### Preparing to execute javascript.
##### Use an instance of javax.script.ScriptEngine from the FreeGen manage object.
##### This instance may change its substance depending on DBFlute's Script Engine search rule.
##### Initially, it was supposed to be Nashorn with Java built-in,
##### but since it will disappear after Java 15, there is a possibility that it is an alternative engine such as sai.
##### $scriptEngine must be a class that implements ScriptEngine, Invocable.
##### The following is a class that handles ScriptEngine for FreeGen of DBFlute.
##### https://github.com/dbflute/dbflute-core/blob/develop/dbflute-engine/src/main/java/org/dbflute/logic/manage/freegen/table/json/engine/DfFrgJavaScriptJsonEngine.java
#set ($scriptEngine = $manager.createJavaScriptEngine())
#####
##### Set to use FreeGen objects when running javascirpt.
$scriptEngine.put('generator', $generator)
$scriptEngine.put('manager', $manager)
#####
##########################################################################################
##### Generation process.
##########################################################################################
##### Evaluate (eval) the load process of the JS file and call the function.
$scriptEngine.eval('load("./freegen/remoteapi/ControlFreeGenRemoteApiJava.js");')
$scriptEngine.invokeFunction('process', $requestList)
#####
